body {
    /* Appearance */
    font-family: sans-serif;
    background-color: #343434;
    color: #F7FFF7;

    /* Flexbox */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    /* Positioning */
    margin-top: 64px;
    font-size: 40px;
}

.option {
    /* Appearance */
    border: 1px solid #F7FFF7;
    background-color: #343434;
    color: #F7FFF7;
}